<% layout('layouts/boilerplate')%>
<!-- <link rel="stylesheet" href="/stylesheets/stars.css"> -->
<div class="row">
    <p>hello world</p>
    <!-- <div class="col-6">

    </div> -->
    <!-- <div class="col-6">
        <div id='map' ></div>
    </div> -->
</div>

<script>
    // const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    // const product = <%- JSON.stringify(product) %>
    // const product = JSON.stringify(product);
</script>

<!-- <script src="/javascripts/showPageMap.js"></script> -->